@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-outline-success" asp-action="ViewCategory" asp-controller="Home">Category</a>
<a class="btn btn-outline-info" asp-action="ViewProduct" asp-controller="Home">Product</a>
